#logo{
	padding-left: 15px;
}

.category-menu{
	padding-top: 5%;
	padding-left: 4%;
	height: 40%;
}

.category-image{
	width: 80%;
	height: 70%;
}

.category-image:hover{
	width: 75%;
	height: 65%;
}
/*.products{
	width: 100%;
	padding-top: 5%;
}*/

#left-section{
	margin-top: 5%;
}

#page{
	float: right;
}


/*.card{

	height: 450px;
	width: 300px;
}*/

#product-price{
	float: left;
}

#add-product{
	float: right;
	width: 40px;
    height: 40px;
}

.btn-floating.btn-large i{
	line-height: 40px;
}

.chip{
	color: black;
}

.products-list{
}

.mini-filter{
	height: 100%;
	margin-top: 2%;
}

.dropdown-filter{
	width: 300px !important;
}
.span-filter{
	cursor: pointer;
	width: 100%;
	margin-top:auto;
}

.products{
	width: 100% !important;
}

.products.row{
	margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.product-item{
	display: inline;
}

.center{
	margin-left: 10%;
}
